.wrapper{

}


.inputfield{
    width: 217px;
    height: 51px;
    padding-left:10px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    color: rgba(145, 145, 145, 1);
    border:1px solid black;
}

button{
    height:51px;
    border-radius:15px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    padding:15px 31px 15px 31px;
}

.form{
    display:flex;
    justify-content: center;
    gap:16px;
}

.form2>*{
    margin:16px;
}

.yesbutton{
    /* width:145px; */
    /* height:51px; */
    color:white;
    background-color:#F4BB4A;
    padding-left:30px;
}